; Sample configuration file for the SQLWorkbench launcher
; =======================================================


[Workbench]
; javaHome identifies the directory where the Java runtime is installed
; The launcher will look for java.exe in the subfolder bin in that directory
; Alternatively the Java home can be passed using the -javaHome parameter 
; when running SQLWorkbench.exe

;javaHome=c:\Program Files\Java

; Parameters for the JVM
; all JVM parameters (-X and -D) can also be passed directly on the commandline
; for SQLWorkbench.exe

[Java]
; e.g. set the allowed memory to 4GB (only possible with 64bit Java)
; vmarg.1=-Xmx4g
